*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #141a28;
}

#container{
    width: 20%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    line-height: 20px;
    border-radius: 10px;
}
#container:hover{
    box-shadow: none;
    cursor: pointer;
}
.box{
    padding: 10px;
}
.date{
    font-size: 14px;
    font-weight: 500;
}
.name{
    font-size: 22px;
    font-weight: 600;

}
.genre{
    font-size: 18px;
    font-weight: 600;
}
.plot{
    font-size: 18px;
}
.rating{
    font-size: 18px;
    font-weight: 600;
}
#input{
    display: flex;
    text-align: center;
    justify-content: center;
}
#search, #searchBtn{
    font-size: 22px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: black;
    background-color: yellow;
    cursor: pointer;
    margin: 2px;
}
